doctype html
html(lang='pl')
    head
        meta(charset='UTF-8')
        title M&amp;M JSR 0.1.0
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(href='assets/css/main.css', rel='stylesheet')
    body
        input#range-1(type='range' min='0' max='100' value='30')
        input#range-2(type='range' min='0' max='100' value='30')
        input#range-3(type='range' min='0' max='100' value='30')
        input#range-4(type='range' min='0' max='100' value='30')
        script(src='./main.js')
        