$jsr-rail-height: 5px;
$jsr-rail-padding: 10px;
$jsr-slider-height: 15px;

.jsr {
    position: relative;
    z-index: 1;

    display: block;

    box-sizing: border-box;
    width: 100%;

    margin: 20px 0;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
}

.jsr_rail-outer {
    position: relative;
    padding: $jsr-rail-padding 0;
}

.jsr_rail {
    height: $jsr-rail-height;
    background: #444;
    z-index: 1;
}

.jsr_bar {
    position: absolute;
    height: 5px;
    background-color: #999;
    z-index: 2;
}

.jsr_slider {
    position: absolute;
    top: calc(
        (#{$jsr-rail-height} / 2 + #{$jsr-rail-padding})
        - #{$jsr-slider-height} / 2
    );
    left: 0;

    width: 15px;
    height: 15px;

    cursor: pointer;
    transition: background 0.1s ease-in-out;

    border-radius: 50%;
    background: #999;
    outline: 0;

    z-index: 3;
}

.jsr_slider:focus {
    background: #c00;
}