.jsr
{
    position: relative;
    z-index: 1;

    display: block;

    box-sizing: border-box;
    width: 100%;
}

.jsr_rail
{
    height: 20px;

    background: rgb(230, 230, 230);
    background-image: linear-gradient(red, red);
    background-repeat: no-repeat;
}

.jsr_slider {
	width: 25px;
	height: 25px;
	position: absolute;
	left: 0;
	top: calc((20px - 25px) / 2);
	background: #000;
	cursor: pointer;
}

.jsr_slider--min {
}

.jsr_slider--max {
}

.jsr_info {
	position: ;
}

.jsr_info--min {

}

.jsr_info--max {

}

.jsr_info--actualMin {

}

.jsr_info--actualMax {

}


