.jsr
{
    position: relative;
    z-index: 1;

    display: block;

    box-sizing: border-box;
    width: 100%;
    height: 50px;

    margin-bottom: 20px;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
}

.jsr_rail
{
    height: 5px;
    padding: 10px 0;
    box-sizing: content-box;

    position: relative;
}

.jsr_rail::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 5px;
    background: #444;
}

.jsr_range {
    position: absolute;
    left: 0;
    width: 0;
    height: 5px;
    background-color: #999;
}

.jsr_slider
{
    position: absolute;
    top: 5px;
    left: 0;

    width: 15px;
    height: 15px;

    cursor: pointer;
    transition: background .1s ease-in-out;

    border-radius: 50%;
    background: #999;
    outline: 0;
}

.jsr_slider:focus
{
    background: #c00;
}

.jsr_row {
    position: relative;
}

.jsr_info
{
    position: absolute;
    padding: 3px 10px;
    border-radius: 3px;
    background: #444;
    white-space: nowrap;
}

.jsr_info--hidden {
    opacity: 0;
    pointer-events: none;
}

.jsr_info--min
{
    left: 0;
}

.jsr_info--max
{
    right: 0;
}

.jsr_info--min,
.jsr_info--max
{
    cursor: pointer;

    color: #999;
    background: #333;
    transition: opacity 0.2s ease-in-out;
}

.jsr_info--from,
.jsr_info--to,
.jsr_info--single
{
    cursor: pointer;

    color: #fff;
}

.jsr_info--single
{
    white-space: nowrap;
}

.jsr_info_singleFrom,
.jsr_info_singleTo,
.jsr_info_singleSingle
{
    display: inline-block;

    cursor: pointer;
}

.jsr_info_singleTo::before
{
    content: '\00a0\2014\00a0';
    pointer-events: none;
}

.jsr_info_singleFrom:not([data-jsr-type='single'])
{
    padding-right: 0;
}

.jsr_info_singleTo
{
    padding-left: 0;
}

.jsr_grid
{
    position: absolute;
    left: 0;
    right: 0;
    top: 8px;
    height: 12px;
    z-index: -1;
    color: #ccc;
    background-repeat: no-repeat;
    background-size: 100% 100%, 100% 75%;
}

.jsr_lockscreen {
    height: 100%;
    overflow: hidden;
    width: 100%;
    position: fixed;
}